/*
2017/7/22 v1.0*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  vertical-align: baseline;
}

:focus, input, button, select, textarea {
  outline: 0;
}

html {
  height: 100%;
}

body {
  /*line-height: 1;*/
  color: #333333;
  background: white;
  height: 100%;
  width: 100%;
}

ol, ul, li {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

textarea {
  resize: none; /*必须添加overflow此属性才能生效*/
  overflow: auto;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

caption, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a, a:hover.a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

#app {
  height: 100%;
}

/* 清除浮动*/
.fix {
  *zoom: 1;
}

.fix:after {
  display: table;
  content: '';
  clear: both;
}

/*单行文字溢出虚点显示*/
.ell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*适用于父元素高度确定，本身高度不确定的元素*/
.vm3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*本项目公共CSS*/
.favorite {
  color: #f00;
}
.success,.error,.info,.warning{
  top: 50%;
  transform: translateY(-50%);
}
/*.success {
  position: fixed;
  top: 0;
  z-index: 999999999;
  height: 60px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: rgb(19,206,102);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
  transition: all 0.3s ease;
}
.error {
  position: fixed;
  top: 0;
  z-index: 999999999;
  height: 60px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: rgb(255,73,73);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
  transition: all 0.3s ease;
}
.info {
  position: fixed;
  top: 0;
  z-index: 999999999;
  height: 60px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: rgb(80,191,255);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
  transition: all 0.3s ease;
}
.warning {
  position: fixed;
  top: 0;
  z-index: 999999999;
  height: 60px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: rgb(247,186,42);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
  transition: all 0.3s ease;
}
.success>div>p, .error>div>p, .info>div>p, .warning>div>p {
  margin: 15px auto 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.success>img, .error>img, .info>img, .warning>img {
  width: 60px;
  height: 60px;
}*/


/*项目中公用CSS*/
.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  top: 46px;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.vux-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}


.weui-search-bar__label{
  line-height: 26px!important;/*no*/
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 12px;
  height: 10px;
  background-color: #F5F5F5;
}
/*修改ele 的菜单组件下拉框*/
.el-aside::-webkit-scrollbar
{
  width: 4px;
  height: 10px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  /*border-radius: 10px;*/
  background-color: #d7dde4;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
 /* border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  /*background-color: grey;*/
}
/*去掉input[type=number]的箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
